h1 {
    text-align: center;
}
#datosPersonales{
    background-color: #bbbbbb;
}
#formaAcceso {
    background-color: rgb(241, 194, 156);
}
#datosJuntados {
    background-color: rgb(194, 106, 106);
}